
body {
    background-color: white;
}
/* slider */

img{
    max-width: 100%;
    /* display: block; */
}

#carouselExampleIndicators .carousel-inner, #carouselExampleIndicators  .carousel-item {
    /* height: 60vh; */
}


#carouselExampleIndicators .carousel-caption {
    top:55%;
}

.carousel-caption {
	z-index: 10;
}
.carousel-caption h2 {
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	font-weight: 300;
    color: rgb(0, 0, 0);
    border: #000;
}

.carousel-caption p {
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	font-weight: 300;
    font-size: 20px;
}


#logo {
    width: 25%;

}


.nav-item {
    margin: auto;
    padding: auto;
    padding-right: 15px;
    font-size: 20px;
}

/* dsd */
.nav-item a {
    text-decoration: none;
}

.navbar {
    background-color: rgba(240, 240, 240, 0.753);
    
}

.nav.menu{
    position: absolute;
    display: inline-block;
    position: fixed;
}

.navbar a{
    color: black;
}

.navbar a:hover{
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.navbar button {
    color: black;
    border-color: rgb(0, 0, 0);
}
.navbar button:hover{
    color: rgb(255, 255, 255);
    border-color: rgb(0, 0, 0);
    background-color: rgb(0, 0, 0);
}



.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 1400px;
    margin: 0 auto;
    grid-gap: 20px;
    align-items: center;
}
.grid div:nth-child(n + 3) 
{ 
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    max-width: 500px;

}



.anuncio{
    grid-column: 1;
    grid-row: 2 /5;
    display: block;

}
.anuncio2{
    grid: 1 ;
    grid-row: 2/ 1;
    display: block;
}

/* StyleGrid */

.anuncio2:hover{
    box-shadow:0px 0px 2px 2px black;
    background-color: #000;
    color: white;
    transition: 0.5s;
}

.anuncio:hover{
    box-shadow:0px 0px 2px 2px black;
    background-color: #000;
    color: white;
    transition: 0.5s;
    

}
.itemgrid:hover{
    background-color: #000000;
    transition: 0.5s;
   color: white;

}
.itemgrid1:hover{
    transition: 0.5s;
    background-color: #000000;
    color: white;
}






#grayscale img {
	-webkit-filter: grayscale(100%);
	filter: grayscale(70%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
#grayscale:hover img {
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
}

.anuncio2 p {
    margin-top: 50px;
}

/* media só pegou aqui  */

@media (max-width: 800px){
    .grid{
        grid-template-columns: repeat(2, 1fr);

    }

    .grid div:nth-child(n + 3) {
        display: block;
    }


    .anuncio,.anuncio2 {
        grid-column: auto;
        grid-row: auto;
    }
}


#lancamentos{
    display:block;
    text-align: center;
    width: 80%;
    margin: auto;
    padding: auto;
    background-color: rgba(255, 255, 255, 0.904);
    height: 100%;
    align-self: center;
    box-shadow: #000 0px 0px 5px -1px;
    margin-top: 0px;


}

#lancamentos h1 {
    font-size: 60px;
    text-shadow: #0000007e 5px 5px 5px;
} 

#lancamentos p {
    font-size: 20px;
}
.titulo {
    margin:0px 0px 30px 0px;
    margin-top: 0px;
}



#visao-container {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    flex-wrap: wrap;
}

#visao-conteudo {
    background-color: rgba(0, 0, 0, 0.863);
    width: 100%;
    color: white;
    font-size: 20px;
}



#centralizar-texto{
display: flex;
justify-content: center; 
width: 85%;
flex-direction: row-reverse;
padding: auto;
margin: auto;
margin-bottom: 50px;
}

#centralizar-texto img{
    justify-content: center;
    margin: 0 auto;
    width: 30%;  
    border-radius: 150px;
}

#visao-paragrafo {
    margin: auto;
    padding: auto;
    text-align: center;
    width: 100%;
   
}

#visao-paragrafo {
    margin: auto;
    padding: auto;
    
}

#visao-paragrafo p, #visao-paragrafo h1{
    margin: auto;
    padding: auto;
    padding-top: 20px;
    text-align: center;
    width: 70%;
}


#visao-container h1 {
    font-size: 50px;
    text-shadow: #ffffff7e 5px 5px 5px;
}


#sbr-empresa {
    margin: auto;
    padding: auto;
    padding-top: 50px;
    text-align: center;
    width: 70%;
}

#sbr-empresa p {
    margin: auto;
    padding: auto;
    margin-bottom: 30px;
}





/* MAPA */

#mapa-conteudo{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(231, 230, 230);
    font-size: 25px;
    
}
#mapa-conteudo h1{
    font-size: 70px ;
    text-shadow: #000 6px 6px 10px;
}


#google-maps iframe { 
        width: 100%;
        height: 500px;
    
}

#google-maps {
    width: 95%;
    height: 550px;
}

#localizacao-paragrafo {
    float: left;
    width: 80%;
    margin: auto;
    padding: auto;
    margin: 50px;
    text-align: center;
}


/* botãohover */

/* Início das 6 categorias */


#roupanoturna-conteudo{
    height: 700px;
    width: 550px;
    background-color: rgb(255, 255, 255);
    margin: 20px;
    padding: 20px;
    text-align: center;
    float: left;
    font-family: 'Yellowtail', cursive;
    color: rgb(0, 0, 0);
    box-shadow: 3px 3px 15px 5px black;
    color: rgb(0, 0, 0);
   

}



#roupanoturna-conteudo img{
    margin: auto;
    padding: auto;
    border: #000 2px solid;
    
}

#calcinhas{
    height: 700px;
    width: 550px;
    background-color: rgba(0, 0, 0, 0.966);
    margin: 20px;
    padding: 20px;
    text-align: center;
    font-family: 'Yellowtail', cursive;
    box-shadow: 3px 3px 15px 5px rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

#calcinhas img{
    margin: auto;
    padding: auto;
    border: rgb(255, 255, 255) 2px solid;
}

#modeladores{
    height: 700px;
    width: 550px;
    background-color: rgb(255, 255, 255);
    margin: 20px;
    padding: 20px;
    text-align: center;
    float: left;
    font-family: 'Yellowtail', cursive;
    box-shadow: 3px 3px 15px 5px black;
    color: rgb(0, 0, 0);
}

#modeladores img{
    margin: auto;
    padding: auto;
    border: #000 2px solid;
}

#lingieries{
    height: 700px;
    width: 550px;
    background-color: rgb(0, 0, 0);
    margin: 20px;
    padding: 20px;
    text-align: center;
    font-family: 'Yellowtail', cursive;
    box-shadow: 3px 3px 15px 5px rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

#lingieries img{
    margin: auto;
    padding: auto;
    border: rgb(255, 255, 255) 2px solid;
}

#camisolas{
    height: 700px;
    width: 550px;
    background-color: rgb(255, 255, 255);
    margin: 20px;
    padding: 20px;
    text-align: center;
    font-family: 'Yellowtail', cursive;
    color: rgb(0, 0, 0);
    box-shadow: 3px 3px 15px 5px black;
}

#camisolas img{
    margin: auto;
    padding: auto;
    border: #000 2px solid;
}

#sutias{
    height: 700px;
    width: 550px;
    background-color: rgb(0, 0, 0);
    margin: 20px;
    padding: 20px;
    text-align: center;
    font-family: 'Yellowtail', cursive;
    box-shadow: 3px 3px 15px 5px rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

#sutias img{
    margin: auto;
    padding: auto;
    border: #000 2px solid;
}

#linha1 {
    margin:3%;
    margin-top: 2%;
}

#linha2 {
  margin: 3%;
  margin-top: 2%;
}

#polaroids {
    background-color: rgb(255, 255, 255);
}

#catalogo-h1 h1 {
    text-align: center;
    margin-top: 2%;
    font-size: 50px;
    text-shadow: #000 5px 5px 10px;
    color: black;
    
}

/*footer-container*/
.footer-container {
    text-align: center;
    height: 100px;
    line-height: 150px;
    background-color: #e8e9ea;
    color: #333;
}

/* redes sociais */

.aside {
    margin-top: 350px;
    margin-left: 20px;
    color: #1ebbf0;
}

.aside a{
    float: left;
}

#vertical{
    display: flex;
    flex-direction: column;
}

.col input {
    background-color: #04fbfb;
    border-color: #8BC3A3;
    border-radius: 10px;
}

.col input:hover {
    background-color: blue;
}























































































































































































* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.body{
    background-color:rgb(255, 255, 255);
    height: 100%;
    width: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin-top: 0px;
    font-family: 'Lato', sans-serif;
}
.body .layer{
    background-image: url(../img/16.jpg);
    width: 100%;
    height: 100%;
    background-color: rgb(12, 19, 39);
    /*  To keep login form in center of the page    */
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.form{
    position: relative;
    margin: 20px 0px;
    width: 100%;
    max-width: 800px;
    height: 800px;
    text-align: center;
    background: rgba(4, 214, 203, 0.925);
    padding: 50px 100px;
    border-radius: 20px;
}
.form .heading{
    color: #000;
    font-size: 25px;
    margin: 0px  0px;
    height: 10px;
    line-height: 10px;
    text-align: center;
}
.form .signup-form{
    display: none;
}
.form .input{
    width: 100%;
    padding: 10px;
    background: #f8f8f8;
    border: 1px solid rgba(0, 0, 0, 0.075);
    margin-bottom: 25px;
    color: black !important;
    font-size: 15px;
    text-align: start;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    letter-spacing: 2px;
}
.form .input:focus{
    color:white;
    outline:none;
    border:1px solid #8BC3A3
}
.form .submit{
    width: 100%;
    padding: 0 20px;
    line-height: 50px;
    background: #1ebbf0;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
    text-align: center;
    border: none;
    cursor: pointer;
    font-size: 17px;
}
.form .submit:hover{
    background-color: #1a9dc9;
}
.form .input-box{
    margin-top: 40px;
}
.form .togglebtn {
    color: blue;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    font-weight: 600;
}
::-webkit-input-placeholder{
    color:black;
    font-size:17px
}
:-moz-placeholder{
    color:black;
    font-size:17px
}
::-moz-placeholder{
    color:black;
    font-size:17px
}
:-ms-input-placeholder{
    color:black;
    font-size:17px
}

textarea {
    margin-top: 10px;
    margin-left: 50px;
    width: 600px;
    height: 200px;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    /* background: none repeat scroll 0 0 rgba(0, 0, 0, 0); */
    border-color: -moz-use-text-color #FFFFFF #FFFFFF -moz-use-text-color;
    border-image: none;
    border-radius: 6px 6px 6px 6px;
    border-style: none solid solid none;
    border-width: medium 1px 1px medium;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset;
    color: #555555;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 1em;
    line-height: 1.4em;
    padding: 5px 8px;
    transition: background-color 0.2s ease 0s;
    opacity:.5;
  }
  
  
  
  textarea:focus {
      background: none repeat scroll 0 0 #FFFFFF;
      outline-width: 0;
  }

  .opacidade, #email, #telefone{
      opacity: .5;
  }
 


#fixar {
    display: flex;
    justify-content: flex-end;
    height: 100%;
    
}

#conteudo-fixo {
    background-color: rgba(0, 0, 0, 0.932);
    justify-content: center;
    text-align: center;
    justify-content:end;
    padding: 20px;
    line-height: 0; 
    color: white;
    text-shadow: #ffffff7e 5px 5px 5px;
}

#conteudo-fixo #video {
    display: flex;
    justify-content: center;
    
}
#conteudo-fixo p, h1{
    margin: 20px;
    padding: 5px;
}

#conteudo-fixo p {
    font-size: 15px;
    text-shadow: none;
}

#conteudo-fixo h1{
    font-size: 40px;
}




#sessao-fixa {
    background-image: url(../img/index/ParaUsarNoiteDia.png);
    background-attachment: fixed;
    /* background-size: cover; */
    
    
}


































/* overlay */


.image{
    position: relative;
    width: 400px;

}

.image_img{
    display: block;
    width: 100%;
}

.image_overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.685);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.image_overlay--blur{
    backdrop-filter: blur(2px);
}

.image_overlay *{
    transform: translateY(20px);
}

.image_overlay:hover{
    opacity: 1;
}

.image_title {
    font-size: 2em;
    font-weight: bold;
}

.image_description{
    font-size: 1.5em;
    margin-top: 0.25em;
}






/* Buton15 */

.btn-15 {
    background: rgb(0, 0, 0);
    border: none;
    z-index: 1;
    color: white;
    border-radius: 5px;
    
  }

.btn-15 a, .btn-14 a{
      text-decoration: none;
  }

  .btn-15 a{
      color: rgb(255, 255, 255);
  }

  .btn-15 a:hover{
      text-decoration: none;
      color: black;
  }

  




  .btn-15:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -1;
    background-color: #ffffff;
    border-radius: 5px;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    transition: all 0.3s ease;
    
  }
  .btn-15:hover {
    color: rgb(0, 0, 0);
    text-shadow: 0px 0px 15px rgb(0, 0, 0);
  }
  .btn-15:hover:after {
    left: 0;
    width: 100%;
  }
  .btn-15:active {
    top: 2px;
  }
  
  .image_overlay .btn-15{
    margin-top:  300px;
    margin-left: 200px;
    width: 200px;
    height: 50px;
    font-weight: bold;
}

.btn-14 {
    background: rgb(255, 255, 255);
    border: none;
    z-index: 1;
    color: rgb(0, 0, 0);
    border-radius: 5px;
  }
  .btn-14:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -1;
    background-color: #000000;
    border-radius: 2px;
     box-shadow:inset 2px 2px 2px 0px rgba(0, 0, 0, 0.5),
     2px 2px 2px 0px rgb(0, 0, 0),
     2px 2px 2px 0px rgb(0, 0, 0);
    transition: all 0.3s ease;
  }
  .btn-14:hover {
    color: rgb(255, 255, 255);
    text-shadow: 0px 0px 15px white;
  }
  .btn-14:hover:after {
    left: 0;
    width: 100%;
  }
  .btn-14:active {
    top: 2px;
  }

  .btn-14 a{
    color: rgb(0, 0, 0);
}

.btn-14 a:hover{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
  
  .image_overlay .btn-14{
    margin-top:  300px;
    margin-left: 200px;
    width: 200px;
    height: 50px;
    font-weight: bold;
}

.texto {
        color: rgb(0, 0, 0);
        text-shadow: 
                 -1px -1px 0px rgba(255, 255, 255, 0.863), 
                 -1px 1px 0px rgba(255, 253, 253, 0.801),                    
                  1px -1px 0px rgba(255, 255, 255, 0.884),                  
                  1px 0px 0px rgba(255, 255, 255, 0.849);
  
}
/* azul */